<footer>
<hr>
<div class="row">
<div class="social">
  <ul>
    <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
    <li><a href="http://www.github.com/{{ site.github }}"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
    <li><a href="http://www.facebook.com/{{site.facebook}}"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
    <li><a href="http://www.twitter.com/{{site.twitter}}"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
  </ul>
  </div>
</div>
<div class="copyright">
  Page last updated on {{ site.time | date: '%m/%d/%Y' }}<br>
</div>
</footer>