<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span style="font-size:1.2em; color: #d5e6f5;" class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">Rohit Dureja</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ "/" | prepend: site.url }}"><span style="font-size:1.2em; padding-right: 0.4em;" class="glyphicon glyphicon-home"></span>HOME</a></li>
        <li><a href="{{ "/publications/" | prepend: site.baseurl }}"><span style="font-size:1.2em; padding-right: 0.4em;" class="glyphicon glyphicon-file"></span>PUBLICATIONS</a></li>
         <li><a href="{{ "/assets/Dureja_CV_06292017.pdf" | prepend: site.baseurl }}"><span style="font-size:1.2em; padding-right: 0.4em;" class="glyphicon glyphicon-education"></span>CV</a></li>
        <li><a href="{{ "/notes/" | prepend: site.baseurl }}"><span style="font-size:1.2em; padding-right: 0.4em;" class="glyphicon glyphicon-book"></span>NOTES</a></li>
      </ul>
    </div>
  </div>
</nav>
