---
layout: list
title: Notes
---

{% for post in site.posts %}
<div class="row">
  <div class="col-sm-12" style="text-align: left;">
    <time><span style="font-size:1.0em; padding-right: 0.4em;" class="glyphicon glyphicon-calendar"></span>{{ post.date | date: "%b %-d, %Y" }}</time>
    <a href="{{ post.url }}"><h3 style="margin-top:0; margin-bottom: 0; text-align: left;">{{ post.title }}</a>
    </h3>
    {% if post.tags %}
    <ul style="padding-left: 0; margin-top: 0;">
    <div style="color: #425469; padding-top: 0.4em;">
      {% for tag in post.tags %}
      <!-- <div style="display: block; padding: 0;"> -->
      <li style="display: inline-block; padding-right: 5px;"><span style="font-size:1.2em; padding-right: 0.4em;" class="glyphicon glyphicon-tags"></span>{{ tag }}</li>
      <!-- </div> -->
      {% endfor %}
    </div>
    </ul>
    {% endif %}
    {% if post.excerpt != post.content %}
    {{ post.excerpt }}
    <a href="{{ site.baseurl }}{{ post.url }}">
    <button type="button" class="btn btn-primary">Read More</button></a>
    {% endif %}
    <hr>
  </div>
{% endfor %}
