---
---

{% if entry.type == "inproceedings" %}
<entry>
<a href="{{ entry.url }}"><pubtitle>{{ entry.title }}</pubtitle></a><br>
<authors>{{ reference }}</authors><br>
<venue>{{ entry.booktitle }}</venue>, <year>{{ entry.year }}</year><br>
<div id="#{{ entry.key | downcase }}">
  <a class="btn btn-primary btn-sm dropdown" data-toggle="collapse" href="#{{ entry.key | downcase }}abstract" role="button">abstract</a>
  {% if entry.preprint %}<a class="btn btn-primary btn-sm" href="{{ entry.preprint }}" role="button">preprint</a>{% endif %}
  {% if entry.slides %}<a class="btn btn-primary btn-sm" href="{{ entry.slides }}" role="button">slides</a>{% endif %}
  {% if entry.website %}<a class="btn btn-primary btn-sm" href="{{ entry.website }}" role="button">website</a>{% endif %}
  {% if entry.poster %}<a class="btn btn-primary btn-sm" href="{{ entry.poster }}" role="button">poster</a>{% endif %}
  <a class="btn btn-primary btn-sm"  href="/bibliography/{{ entry.key }}.html" role="button">bibtex</a>
  <div class="collapse indent" id="{{ entry.key | downcase }}abstract">
    <div class="card card-body">
      <br><b>Abstract: </b>{{ entry.abstract }}
      <hr>
    </div>
  </div>
</div>
</entry>
{% endif %}

{% if entry.type == "article" %}
<entry>
<a href="{{ entry.url }}"><pubtitle>{{ entry.title }}</pubtitle></a><br>
<authors>{{ reference }}</authors><br>
<venue>{{ entry.journal }}</venue>, <year>{{ entry.year }}</year><br>
<div id="#{{ entry.key | downcase }}">
  <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#{{ entry.key | downcase }}abstract" role="button">abstract</a>
  {% if entry.preprint %}<a class="btn btn-primary btn-sm" href="{{ entry.preprint }}" role="button">preprint</a>{% endif %}
  {% if entry.slides %}<a class="btn btn-primary btn-sm" href="{{ entry.slides }}" role="button">slides</a>{% endif %}
  {% if entry.website %}<a class="btn btn-primary btn-sm" href="{{ entry.website }}" role="button">website</a>{% endif %}
  {% if entry.poster %}<a class="btn btn-primary btn-sm" href="{{ entry.poster }}" role="button">poster</a>{% endif %}
  <a class="btn btn-primary btn-sm"  href="/bibliography/{{ entry.key }}.html" role="button">bibtex</a>
  <div class="collapse indent" id="{{ entry.key | downcase }}abstract">
    <div class="card card-body">
      <br><b>Abstract: </b>{{ entry.abstract }}
      <hr>
    </div>
  </div>
</div>
</entry>
{% endif %}

{% if entry.type == "misc" %}
<entry>
{% if entry.url %}<a href="{{ entry.url }}"><pubtitle>{{ entry.title }}</pubtitle></a>{% else %}
<pubtitle>{{ entry.title }}</pubtitle>{% endif %}
<br>
<authors>{{ reference }}</authors><br>
<venue>{{ entry.booktitle }}</venue>, <year>{{ entry.year }}</year><br>
<div id="#{{ entry.key | downcase }}">
  <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#{{ entry.key | downcase }}abstract" role="button">abstract</a>
  {% if entry.preprint %}<a class="btn btn-primary btn-sm" href="{{ entry.preprint }}" role="button">preprint</a>{% endif %}
  {% if entry.pdf %}<a class="btn btn-primary btn-sm" href="{{ entry.pdf }}" role="button">pdf</a>{% endif %}
  {% if entry.slides %}<a class="btn btn-primary btn-sm" href="{{ entry.slides }}" role="button">slides</a>{% endif %}
  {% if entry.poster %}<a class="btn btn-primary btn-sm" href="{{ entry.poster }}" role="button">poster</a>{% endif %}
  <a class="btn btn-primary btn-sm"  href="/bibliography/{{ entry.key }}.html" role="button">bibtex</a>
  <div class="collapse indent" id="{{ entry.key | downcase }}abstract">
    <div class="card card-body">
      <br><b>Abstract: </b>{{ entry.abstract }}
      <hr>
    </div>
  </div>
</div>
</entry>
{% endif %}


{% if entry.type == "book" %}
<entry>
{% if entry.url %}<a href="{{ entry.url }}"><pubtitle>{{ entry.title }}</pubtitle></a>{% else %}
<pubtitle>{{ entry.title }}</pubtitle>{% endif %}
<br>
<authors>{{ reference }}</authors><br>
<publisher>{{ entry.publisher }}</publisher>, <year>{{ entry.year }}</year><br>
{% if entry.pdf %}<a class="btn btn-primary btn-sm" href="{{ entry.pdf }}" role="button">pdf</a>{% endif %}
<a class="btn btn-primary btn-sm"  href="/bibliography/{{ entry.key }}.html" role="button">bibtex</a>
</entry>
{% endif %}


{% if entry.type == "thesis" %}
<entry>
{% if entry.url %}<a href="{{ entry.url }}"><pubtitle>{{ entry.title }}</pubtitle></a>{% else %}
<pubtitle>{{ entry.title }}</pubtitle>{% endif %}
<br>
<authors>{{ reference }}</authors><br>
<publisher>{{ entry.publisher }}</publisher>, <year>{{ entry.year }}</year><br>
{% if entry.pdf %}<a class="btn btn-primary btn-sm" href="{{ entry.pdf }}" role="button">pdf</a>{% endif %}
<a class="btn btn-primary btn-sm"  href="/bibliography/{{ entry.key }}.html" role="button">bibtex</a>
</entry>
{% endif %}