---
---

{% if entry.type == "inproceedings" %}
<entry>
<pubtitle>{{ entry.title }}</pubtitle><br>
<authors>{{ reference }}</authors><br>
<venue>{{ entry.booktitle }}</venue>, <year>{{ entry.year }}</year>
</entry>
{% endif %}

{% if entry.type == "misc" %}
<entry>
<pubtitle>{{ entry.title }}</pubtitle><br>
<authors>{{ reference }}</authors><br>
<venue>{{ entry.booktitle }}</venue>, <year>{{ entry.year }}</year>
</entry>
{% endif %}


{% if entry.type == "book" %}
<entry>
<pubtitle>{{ entry.title }}</pubtitle><br>
<authors>{{ reference }}</authors><br>
<publisher>{{ entry.publisher }}</publisher>, <year>{{ entry.year }}</year>
</entry>
{% endif %}


